# system files
.venv
.idea
*.db
uv.lock
doc

# other HW
hw1
hw2
hw3
#hw4
hw5
hw6
project

# temp files
*/result.txt
*/my_result.txt

# temp files
hw2/my_result.txt
hw2/result.txt

# temp files
hw3/my_result.txt
hw3/result.txt
hw3/bookstore.db
